@import "./fonts.css";
@import "./components/label.css";
@import "./components/chip.css";

:root {
  --main-background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  --main-font: "Barlow Semi Condensed", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  background: var(--main-background);
  height: 100%;
}

body,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.table {
  background-image: url("../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 6rem;
  width: 70rem;
  height: 43.2rem;
  position: relative;
  transition: 0.3s;
}
.table--no-transition {
  transition: 0s !important;
}
.table--expand {
  width: 99rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1000px) {
  .table {
    margin: 0;
    width: 37.5rem;
    height: 50rem;
    background-size: 20rem;
    background-position-y: 15rem;
  }
  .footer {
    justify-content: center;
  }
}

@media (min-height: 769px) {
  .footer {
    position: absolute;
    bottom: 0;
  }
}
