@import "./fonts.css";
@import "./components/label.css";
@import "./components/chip.css";

:root {
  --main-background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  --main-font: "Barlow Semi Condensed", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  background: var(--main-background);
  height: 100%;
}

body,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.scoreboard {
  box-sizing: border-box;
  margin-top: 4.6rem;
  width: 70rem;
  height: 15.4rem;
  border: 0.2rem solid hsl(217, 16%, 45%);
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.scoreboard__logo {
  margin-left: 0.9rem;
}

.score {
  background: #fff;
  color: hsl(229, 64%, 46%);
  width: 15rem;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score__title {
  color: hsl(229, 64%, 46%);
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
}
.score__number {
  color: hsl(229, 25%, 31%);
  font-family: var(--main-font);
  font-size: 6.5rem;
  line-height: 6rem;
  font-weight: 700;
}

.table {
  background-image: url("../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 6rem;
  width: 70rem;
  height: 43.2rem;
  position: relative;
  transition: 0.3s;
}
.table--no-transition {
  transition: 0s !important;
}
.table--expand {
  width: 99rem;
}
.blank-chip {
  background: #17223e;
  border-radius: 50%;
  width: 22.5rem;
  height: 22.5rem;
  position: absolute;
  top: 14rem;
  left: 41.2rem;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.rules-button {
  text-transform: uppercase;
  border: 0.2rem solid hsl(217, 16%, 45%);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  padding: 1rem 3.8rem;
  border-radius: 1rem;
  background: transparent;
  color: #fff;
  cursor: pointer;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.rules-window {
  box-sizing: border-box;
  background: #fff;
  position: absolute;
  z-index: 2;
  border-radius: 0.7rem;
  top: calc(50% - 20.5rem);
  left: calc(50% - 20rem);
  width: 40rem;
  height: 41rem;
  padding: 3rem 2.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.rules-window--show {
  display: flex;
}
.rules-window__header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.rules-window__title {
  margin: 0;
  padding: 0;
  margin-left: 0.7rem;
  font-family: var(--main-font);
  color: hsl(229, 25%, 31%);
  font-size: 3rem;
  letter-spacing: 0.2rem;
}
.rules-window__close-button {
  position: absolute;
  top: 3.2rem;
  right: 2.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .scoreboard {
    margin-top: 3rem;
    width: 31rem;
    height: 10rem;
    border-radius: 0.6rem;
    padding: 1rem 1rem 1.5rem 1rem;
  }
  .scoreboard__logo {
    margin-left: 0.7rem;
    margin-top: 0.2rem;
    height: 5rem;
  }
  .score {
    width: 8rem;
    border-radius: 0.4rem;
  }
  .score__title {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
  .score__number {
    font-size: 4rem;
    line-height: 4rem;
  }
  .table {
    margin: 0;
    width: 37.5rem;
    height: 50rem;
    background-size: 20rem;
    background-position-y: 15rem;
  }
  .blank-chip {
    width: 11rem;
    height: 11rem;
    top: 11.5rem;
    left: 22rem;
  }
  .footer {
    justify-content: center;
  }
  .rules-button {
    margin: 0;
    margin-top: 2.2rem;
    margin-bottom: 3rem;
  }
  .rules-window {
    border-radius: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }
  .rules-window__header {
    justify-content: center;
    margin-top: 6.5rem;
  }
  .rules-window__title {
    margin-bottom: 10.5rem;
  }
  .rules-window__close-button {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .rules-window__close-button img {
    display: none;
  }
}

@media (min-height: 769px) {
  .footer {
    position: absolute;
    bottom: 0;
  }
}
